<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :crypto_quantity %>
    <%= form.text_field :crypto_quantity %>
  </div>

  <div class="field">
    <%= form.label :fiat_quantity %>
    <%= form.text_field :fiat_quantity %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :crypto_currency_id %>
    <%= form.text_field :crypto_currency_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
